.ssh
id_rsa.pub
id_rsa
id_dsa.pub
id_dsa
*.pem
*.key
selected.out
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/.jupyter/*
.jupyter/*
*/.local/*
.local/*
*/.cache/*
.cache/*
.conda/*
*/.ipython/*
.ipython/*
.bash_history
.bash_logout
.bashrc
.jupyter-server-log.txt
.octave_hist
.profile
out.txt
phreeqc.log
runphreeqc.txt
selected.out
Xsolidsguess.mat
Xsolutionguess.mat
originaltableau.mat
error.inp


